<div class="container nav-margin">
    <!--Jumbotron-->
    <div class="jumbotron text-center bg-fiit lighten-2 white-text">

        <!--Title-->
        <i class="fa fa-gear spin fa-5x" aria-hidden="true"></i>
        <h1 class="display-1">404</h1>

        <!--Text-->
        <div class="d-flex flex-column flex-center justify-content-center text-center">
            <p class="card-text my-2" style="max-width: 43rem;">
                Túto stránku vytvorila skupina #ICP4 ako projekt na predmet Interakcia človeka s počítačom na Fakulte
                informatiky a informačných technológií.
            </p>
            <p class="card-text my-2">Ak ste sa ocitli na tejto stránke, znamená to, že ste zablúdili.<br>Za túto
                skutočnosť sa ospravedlňujeme.
                Pre návrat použite horné menu, alebo tlačidlo nižšie.</p>
        </div>

        <hr class="my-4 rgba-white-light">
        <a ng-href="{{lastRoute}}" class="btn btn-outline-white btn-block"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
            Späť na predošlú stránku</a>
    </div>
    <!--Jumbotron-->
</div>