<div class="container nav-margin" >
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dianie</li>
        </ol>
    </nav>

    <div class="m-2">
        <h1>Udalosti</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="photo">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Udalosť 1</h4>
                    <!--Text-->
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text</p>
                    <a href="#" class="btn btn-outline-black">Viac</a>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="photo">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Udalosť 2</h4>
                    <!--Text-->
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text</p>
                    <a href="#" class="btn btn-outline-black">Viac</a>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="photo">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Udalosť 3</h4>
                    <!--Text-->
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text</p>
                    <a href="#" class="btn btn-outline-black">Viac</a>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="photo">
                    <a href="#">
                        <div class="mask"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Udalosť 4</h4>
                    <!--Text-->
                    <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text</p>
                    <a href="#" class="btn btn-outline-black">Viac</a>
                </div>

            </div>
        </div>

    </div>


    <div class="m-2 mt-4">
        <h1>Výskum na fakulte</h1>
    </div>

    <div id="blog" class="row mt-4">

        <div class="col-md-10 ml-2">
            <h3>Výskum 1</h3>
            <img src="../images/img_dumy.svg" style="max-width: 10vw" alt="post img"
                 class="pull-left m-3 img-thumbnail">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of
                Lorem Ipsum.
            </p>
            <a class="btn btn-outline-black pull-right" href="#">Čítaj viac</a>
        </div>
        <div class="col-md-10 ml-2">
            <h3>Výskum 2</h3>
            <img src="../images/img_dumy.svg" style="max-width: 10vw" alt="post img"
                 class="pull-left m-3 img-thumbnail">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of
                Lorem Ipsum.
            </p>
            <a class="btn btn-outline-black pull-right" href="#">Čítaj viac</a>
        </div>
        <div class="col-md-10 ml-2">
            <h3>Výskum 3</h3>
            <img src="../images/img_dumy.svg" style="max-width: 10vw" alt="post img"
                 class="pull-left m-3 img-thumbnail">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text
                ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                specimen book. It has survived not only
                five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release
                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                like Aldus PageMaker including versions of
                Lorem Ipsum.
            </p>
            <a class="btn btn-outline-black pull-right" href="#">Čítaj viac</a>
        </div>
    </div>
</div>