<div class="container nav-margin">

    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dianie na fakulte</li>
        </ol>
    </nav>

    <section id="udalosti">
        <div class="m-2">
            <h1>Udalosti</h1>
        </div>
        <div class="card-columns">
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="../images/udalosti/hameurlain-TV.jpg"
                         class="img-fluid" alt="photo">
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Big Data Management in Cloud Systems</h4>
                    <p class="card-subtitle">October 30, 2017 at 1:30 pm in Aula Minor</p>
                    <!--Text-->
                    <p class="card-text">You are invited, to meet a researcher
                        in query processing and optimization
                        in parallel and large-scale distributed environments,
                        mobile databases, and database performance</p>
                    <a href="https://www.fiit.stuba.sk/sk/aktuality/hameurlainbig-data.html?page_id=5131"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="../images/udalosti/logo_ACM-ICPC.jpg"
                         class="img-fluid" alt="photo">
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">ACM ICPC 2017</h4>
                    <p class="card-subtitle">27. - 28. októbra 2017 </p>
                    <!--Text-->
                    <p class="card-text">ACM je celosvetová súťaž poriadaná americkou organizáciou Association for
                        Computing
                        Machinery, počítačovou organizáciou, ktorá existuje od roku 1947. Súťaž je určená 1-3 členným
                        tímom študentov vysokých škôl po celom svete.</p>
                    <a href="http://www2.fiit.stuba.sk/acm/index.html"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="../images/udalosti/women-tester-academy.png"
                         class="img-fluid" alt="photo">
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Women Tester Academy</h4>
                    <p class="card-subtitle">17. októbra - 23. novembra<br>17.00 - 20.30 hod.<br>každý utorok a
                        štvrtok</p>
                    <!--Text-->
                    <p class="card-text">Pre všetky ženy, ktoré túžia po zmene.</p>
                    <a href="http://blog.ajtyvit.sk/2017/09/14/women-tester-academy-vsetky-zeny-ktore-tuzia-zmene/"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="../images/udalosti/aktualita_loksovica2017.jpg"
                         class="img-fluid" alt="photo">
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Lokšovica na FIIT</h4>
                    <p class="card-subtitle">17. októbra 2017<br>od 12.00 hod.</p>
                    <!--Text-->
                    <p class="card-text">Príďte si spríjemniť utorkové odpoludnie s IT-Crowdom</p>
                    <a href="http://www.fiit-crowd.sk/loksovica"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="../images/udalosti/DOD.png"
                         class="img-fluid" alt="photo">
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Deň otvorených dverí FIIT 2017</h4>
                    <p class="card-subtitle">15. december 2017</p>
                    <!--Text-->
                    <p class="card-text">You are invited, to meet a researcher
                        in query processing and optimization
                        in parallel and large-scale distributed environments,
                        mobile databases, and database performance</p>
                    <a href="https://www.fiit.stuba.sk/sk/aktuality/hameurlainbig-data.html?page_id=5131"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
        </div>
    </section>

    <section id="podujatia">
        <div class="m-2">
            <h1>Podujatia pre študentov</h1>
        </div>
        <div class="card-deck">
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="../images/podujatia/nag2016.png"
                         class="img-fluid" alt="photo">
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">Networking Academy Games</h4>
                    <!--Text-->
                    <p class="card-text">Súťaž študentov stredných a vysokých škôl na Slovensku, kde môžu
                        demonštrovať svoje teoretické i praktické vedomosti z oblasti počítačových sietí, ktoré
                        získali štúdiom v rámci programu Sieťových akadémií Cisco v Slovenskej Republike.</p>
                    <a href="https://www.fiit.stuba.sk/podujatie-pre-studentov/nagbrnetwork-academy-games.html?page_id=2937"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="../images/podujatia/profiit.png"
                         class="img-fluid" alt="photo">
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">ProFIIT</h4>
                    <!--Text-->
                    <p class="card-text">ProFIIT je súťaž v programovaní pre žiakov stredných škôl. Cieľom
                        súťažiacich je vytvoriť počítačové programy, ako správne riešenia čo najväčšieho počtu
                        problémov a prostredníctvom elektronického systému ich odovzdať v čo najkratšom čase.</p>
                    <a href="https://www.fiit.stuba.sk/profiit-sutaz.html?page_id=1819"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="../images/podujatia/RoboCup-logo.jpg"
                         class="img-fluid" alt="photo">
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">RoboCup</h4>
                    <!--Text-->
                    <p class="card-text">RoboCup je medzinárodný projekt zameraný na oblasť umelej inteligencie,
                        robotiky a príbuzných disciplín. Snahou je skúmanie v týchto oblastiach a spájanie výsledkov
                        tak, že pomôžu riešiť viaceré súčasné problémy.</p>
                    <a href="https://www.fiit.stuba.sk/buxus/generate_page.php?page_id=2637"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <!--Card image-->
                <div class="view overlay hm-white-slight">
                    <img src="../images/podujatia/itsrs.png"
                         class="img-fluid" alt="photo">
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title">IIT.SRC</h4>
                    <!--Text-->
                    <p class="card-text">Cieľom IIT.SRC je podnietiť vytvorenie originálnych príspevkov, ktoré
                        prezentujú príspevky k poznaniu na úrovni zodpovedajúcej stupňu štúdia.</p>
                    <a href="https://www.fiit.stuba.sk/iit-src.html?page_id=4825"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
        </div>
    </section>

    <section id="vyskum">
        <div class="m-2 mt-4">
            <h1>Oblasti výskumu</h1>
        </div>
        <div class="card-columns">
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Data Analysis
                </div>
                <div class="card-body">
                    <p class="card-text">Recommender Systems, User Modelling and Personalization, User Experience and
                        Interaction, Human Computing, Information Retrieval and Exploratory Search, Natural Language
                        Processing</p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/data-analysis.html?page_id=2550"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>

            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Intelligent Methods
                </div>
                <div class="card-body">
                    <p class="card-text">Recommender Systems, User Modelling and Personalization,
                        User Experience and
                        Interaction, Human Computing, Information Retrieval and Exploratory Search, Natural Language
                        Processing</p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/information-processing-intelligent-methods.html?page_id=2551"
                       class="btn btn-outline-black btn-block ">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Spreading and Privacy
                </div>
                <div class="card-body">
                    <p class="card-text">Web of People, Human Web Interaction, Opinion Sharing, Information Reliability
                        and Trustworthiness, User Identification and Privacy, Behavioral Biometric, Visualization </p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/information-processing-spreading-and-privacy.html?page_id=2552"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Knowledge Acquisition and Discovery
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Data Mining, Machine Learning, Neural Networks, Nature and Biology Inspired Computing </p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/knowledge-acquisition-and-discovery.html?page_id=2553"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Representing and Reusing Software Knowledge
                </div>
                <div class="card-body">
                    <p class="card-text">Interrelating and Visualizing Heterogeneous Software Knowledge,
                        Multidimensional Software Modeling, Agile and Lean People, Organization, Software Processes,
                        Social Connotations, Software Product Lines and Variability, Software Patterns </p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/representing-and-reusing-software-knowledge.html?page_id=2554"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Communication Networks
                </div>
                <div class="card-body">
                    <p class="card-text">Content delivery, Internet of Things, Mobile Networks, Open Networking
                        Foundation, Software Defined Networking, Network Function Virtualization, 5G ecosystem</p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/communication-networks.html?page_id=2556"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Information and Cyber Security
                </div>
                <div class="card-body">
                    <p class="card-text">Computer Security, Risk Analysis, Security Standards, Security Model, Security
                        Mechanisms, ISO/IEC 27000, Public Key Infrastructure, Access Control, Mobile Networks,
                        Routing </p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/information-and-cyber-security.html?page_id=4863"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Computer Vision and Computer Graphics
                </div>
                <div class="card-body">
                    <p class="card-text">Medical Imaging, Object Detection and Object Recognition in 2D / 3D, Visual
                        Attention Prediction, Augmented and Virtual Reality Applications, Big Data Visualization </p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/computer-vision-and-computer-graphics.html?page_id=4865"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Embedded Systems
                </div>
                <div class="card-body">
                    <p class="card-text">Embedded Systems, Internet of Things, Increased Reliability, Fault Tolerance,
                        Security,
                        Hard Real-Time Systems, Programmable Hardware, Low-Power Devices </p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/embedded-systems.html?page_id=4864"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Software Comprehension and Quality
                </div>
                <div class="card-body">
                    <p class="card-text">Intent Comprehensibility, Use Case Driven Modularization,
                        Advanced/Aspect-Oriented
                        Modularization, Software Quality, Refactoring, Automated Testing and Continuous Revisions,
                        Software
                        Modeling Beyond Software Development, Education for Software Development and Supported by
                        Software
                        Development, Visualization of Software Properties </p>
                    <a href="https://www.fiit.stuba.sk/oblasti-vyskumu/software-comprehension-and-quality.html?page_id=2555"
                       class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
        </div>
    </section>

    <section id="organizacie">
        <div class="m-2">
            <h1>Študentské organizácie</h1>
        </div>
        <div class="card-columns">
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Akademický senát FIIT STU
                </div>
                <div class="card-body">
                    <p class="card-text">Študentská časť AS FIIT STU zastupuje študentov fakulty; podieľa sa na
                        schvaľovaní študijných programov, volí dekana a prodekanov, schvaľuje rozpočet fakulty, rieši
                        študijné problémy.
                    </p>
                    <a href="http://www2.fiit.stuba.sk/as/" class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Študentská rada vysokých škôl SR
                </div>
                <div class="card-body">
                    <p class="card-text">Najvyšší zastupiteľský orgán študentov vysokých škôl na Slovensku a poradný
                        orgán
                        Ministerstva školstva Slovenskej republiky; zastupuje slovenských študentov navonok, doma i v
                        zahraničí.
                    </p>
                    <a href="http://srvs.sk/" class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Board of European Students of Technology
                </div>
                <div class="card-body">
                    <p class="card-text">Európska rada študentov techniky je nezisková a nepolitická študentská
                        organizácia špičkových európskych technických univerzít; umožňuje a podporuje komunikáciu,
                        výmenu
                        vedomostí a poznávanie kultúr medzi študentmi technických univerzít v Európe.
                    </p>
                    <a href="http://www.best.stuba.sk/home/index.php" class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Rada ubytovaných študentov pri ŠD Mladosť
                </div>
                <div class="card-body">
                    <p class="card-text">Poradný orgán riaditeľa ŠDaJ; reprezentuje študentov ubytovaných v ŠDaJ vo
                        vzťahu
                        k riaditeľovi ŠDaJ a zastupuje ich záujmy v sociálnej, študijnej, spoločenskej, športovej a
                        kultúrnej oblasti.
                    </p>
                    <a href="http://rus.fei.sk/" class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Študentská internátna sieť
                </div>
                <div class="card-body">
                    <p class="card-text">Občianske združenie s cieľom spájať ľudí so spoločným záujmom budovať a
                        zveľaďovať intranetovú sieť v Študentskom domove Mladosť.
                    </p>
                    <a href="http://www.ynet.sk/" class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-center bg-fiit white-text">
                    Internátne rozhlasové štúdio
                </div>
                <div class="card-body">
                    <p class="card-text">Internátne Rozhlasové Štúdio Tisíc-Lôžkovej Internátnej Stavby je priestorom,
                        kde
                        si nájdu svoje miesto fanúšikovia rôznych hudobných štýlov, súčasťou vysielania sú aj rozhovory,
                        profily, aktuálne informácie zo sveta hudby, dramatizácie poviedok, rozhlasové hry, seriály na
                        pokračovanie, preberanie problémov zo života ľudí...
                    </p>
                    <a href="http://www.tlis.sk/" class="btn btn-outline-black btn-block">Viac</a>
                </div>
            </div>
        </div>
    </section>

</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>
