<div class="container nav-margin">
    <!--Main Content-->
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Financovanie</li>
        </ol>
    </nav>

    <div class="m-2">
        <h1>Štipendiá</h1>
        <p>FIIT ponúka množstvo spôsobov odmeňovanie vo forme rôznych štipendií.</p>
    </div>
    <div class="col-md-12">
        <div class="card-deck">
            <div class="card m-2">
                <h4 class="card-header bg-fiit white-text ">
                    Sociálne štipendium
                </h4>
                <div class="card-body">
                    <p class="card-text">Upravuje § 96 Zákona o vysokých školách.
                        Nárok vzniká od mesiaca, v ktorom bola podaná žiadosť (pozor, neudeľuje sa spätne).</p>
                    <h6 class="card-title">Typ a termín vyplatenia</h6>
                    <p class="card-text">Mesačne
                        (do 10. dňa v mesiaci).</p>
                </div>

            </div>

            <div class="card m-2">
                <h4 class="card-header bg-fiit white-text ">
                    Motivačné štipendium
                </h4>
                <div class="card-body">
                    <p class="card-text">Priznáva sa najviac 50 % študentom oprávnených študijných odborov.</p>
                    <p class="card-text">
                        Zohľadňujú sa študijné výsledky z predchádzajúceho štúdia:<br>
                    <ul>
                        <li> Prváci Bc
                            <small> - koncoročné vysvedčenie v poslednom ročníku na strednej škole.</small>
                        </li>
                        <li> Prváci Ing
                            <small> - VŠP celého Bc štúdia.</small>
                        </li>
                        <li> Prváci PhD
                            <small> - VŠP celého Ing štúdia.</small>
                        </li>
                        <li> Ostatní
                            <small> - VŠP (pri Bc a Ing)</small>
                        </li>
                    </ul>
                    </p>
                    <p class="card-text font-italic">
                        <small>Základná výška tohto štipendia (ZVMO) je určená podľa metodiky danej zákonom. Výška
                            štipendia
                            nesmie prekročiť 3-násobok ZVMO.
                        </small>
                    </p>
                    <h6 class="card-title">Typ a termín vyplatenia</h6>
                    <p class="card-text">Jednorázovo.
                        V mesiacoch jún - august daného akad. roka.</p>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card m-2">
                <h4 class="card-header bg-fiit white-text ">
                    Motivačné prospechové štipendium
                </h4>
                <div class="card-body">
                    <p class="card-text">Priznáva sa najviac 10 % študentov (platí pre prospechové a za mimoriadne
                        výsledky
                        spolu).
                        <br>Zohľadňujú sa študijné výsledky z predchádzajúceho akad. roka:
                        <br></p>
                    Bc a Ing štúdium: VŠP, pričom platia minimálne požiadavky:
                    <ul>
                        <li>úspešné absolvovanie (známky A - E) všetkých predmetov v odporúčanom študijnom pláne,</li>
                        <li>VŠP najviac 2,2 vrátane.</li>
                    </ul>
                    <small>Pozn.: netýka sa prvákov (Bc aj Ing).</small>
                    <br>
                    PhD štúdium: vedecká/publikačná kvalita, pričom platia minimálne požiadavky:
                    <ul>
                        <li>úspešné absolvovanie všetkých predmetov v študijnom pláne.</li>
                        <li>Všetci: štúdium nesmie byť predlžované alebo prerušené viac ako 30 dní.</li>
                    </ul>
                    <p class="card-text font-italic">
                        <small>Základná výška tohto štipendia (ZVMO) je určená podľa metodiky danej zákonom. Výška
                            štipendia
                            nesmie prekročiť 3-násobok ZVMO.
                        </small>
                    </p>
                    <h6 class="card-title">Typ a termín vyplatenia</h6>
                    <p class="card-text">Jednorázovo.
                        V mesiacoch jún - august daného akad. roka.</p>
                </div>
            </div>
            <div class="card m-2">
                <h4 class="card-header bg-fiit white-text ">
                    Motivačné za mimoriadne výsledky
                </h4>
                <div class="card-body">
                    <p class="card-text">Priznáva sa najviac 10 % študentov (platí pre prospechové a za mimoriadne
                        výsledky
                        spolu). Zohľadňujú sa mimoriadne výsledky:</p>
                    <ul>
                        <li>mimoriadne plnenie študijných povinností</li>
                        <li>mimoriadny výsledok v oblasti výskumu alebo vývoja</li>
                        <li>mimoriadny výsledok v umeleckej alebo športovej činnosti</li>

                    </ul>
                    <p class="card-text font-italic">
                        <small>Základná výška tohto štipendia (ZVMO) je určená podľa metodiky danej zákonom. Výška
                            štipendia
                            nesmie prekročiť 3-násobok ZVMO.
                        </small>
                    </p>
                    <h6 class="card-title">Typ a termín vyplatenia</h6>
                    <p class="card-text">Jednorázovo.

                        Najneskôr do konca kal. roka, kedy končí akad. rok, kedy sa vyskytla skutočnosť.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="m-2">
        <h1>Financovanie</h1>
        <p>Pre financovanie štúdia je možné využiť viacero možností.</p>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th><br></th>
                <th>1. stupeň štúdia</th>
                <th>2. stupeň štúdia</th>
                <th>3. stupeň štúdia</th>
            </tr>
            <tr>
                <td>X.1</td>
                <td>600€</td>
                <td>800€</td>
                <td>100€</td>
            </tr>
            <tr>
                <td>X.2</td>
                <td>n</td>
                <td>n</td>
                <td>100€</td>
            </tr>
            <tr>
                <td>X.3</td>
                <td>n</td>
                <td>n</td>
                <td>1000€</td>
            </tr>
            <tr>
                <td>X.4</td>
                <td>n</td>
                <td>n</td>
                <td>1000€</td>
            </tr>
        </table>
    </div>
    <p>Ceny sú uvedené za jeden semester výučby.</p>
</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>