<div class="container nav-margin">
    <!--Main Content-->
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Financovanie</li>
        </ol>
    </nav>

    <div class="m-2">
        <h1>Štipendiá</h1>
        <p>FIIT ponúka množstvo spôsobov odmeňovanie vo forme rôznych štipendií.</p>
    </div>
    <div class="col-md-12">
        <div class="card-deck p-2">
            <div class="card card-body">
                <h4 class="card-title">Sociálne štipendium</h4>
                <p class="card-text">Upravuje § 96 Zákona o vysokých školách.
                    Nárok vzniká od mesiaca, v ktorom bola podaná žiadosť (pozor, neudeľuje sa spätne).</p>

            </div>
            <div class="card card-body">
                <h4 class="card-title">Motivačné štipendium</h4>
                <p class="card-text">Udeľuje sa:</p>
                <ul class="list-group">
                    <li class="list-group-item">Prváci Bc</li>
                    <li class="list-group-item">Prváci Ing</li>
                    <li class="list-group-item">Prváci PhD</li>
                    <li class="list-group-item">VŠP (pri Bc a Ing)</li>
                </ul>
                <p class="card-text">ZVMO je určená podľa metodiky danej zákonom</p>
            </div>
            <div class="card card-body">
                <h4 class="card-title">Motivačné prospechové štipendium</h4>
                <p class="card-text">Bc a Ing štúdium: VŠP, pričom platia minimálne požiadavky:

                    úspešné absolvovanie (známky A - E) všetkých predmetov v odporúčanom študijnom pláne,
                    VŠP najviac 2,2 vrátane.
                    Pozn.: netýka sa prvákov (Bc aj Ing).
                    PhD štúdium: vedecká/publikačná kvalita, pričom platia minimálne požiadavky:

                    úspešné absolvovanie všetkých predmetov v študijnom pláne.
                    Všetci: štúdium nesmie byť predlžované alebo prerušené viac ako 30 dní.</p>

            </div>
            <div class="card card-body">
                <h4 class="card-title">Motivačné za mimoriadne výsledky</h4>
                <p class="card-text">Priznáva sa najviac 10 % študentov (platí pre prospechové a za mimoriadne výsledky spolu).
                    Zohľadňujú sa mimoriadne výsledky:</p>
                <ul class="list-group">
                    <li class="list-group-item">mimoriadne plnenie študijných povinností</li>
                    <li class="list-group-item">mimoriadny výsledok v oblasti výskumu alebo vývoja</li>
                    <li class="list-group-item">mimoriadny výsledok v umeleckej alebo športovej činnosti</li>

                </ul>
            </div>
        </div>
    </div>
    <div class="m-2">
        <h1>Financovanie</h1>
        <p>Pre financovanie štúdia je možné vyzžiť viacero možností.</p>
    </div>
    <div class="col-md-12">
        <table class="table table-striped">
            <tr>
                <th><br></th>
                <th>1. stupeň štúdia</th>
                <th>2. stupeň štúdia</th>
                <th>3. stupeň štúdia</th>
            </tr>
            <tr>
                <td>X.1</td>
                <td>600€</td>
                <td>800€</td>
                <td>100€</td>
            </tr>
            <tr>
                <td>X.2</td>
                <td>n</td>
                <td>n</td>
                <td>100€</td>
            </tr>
            <tr>
                <td>X.3</td>
                <td>n</td>
                <td>n</td>
                <td>1000€</td>
            </tr>
            <tr>
                <td>X.4</td>
                <td>n</td>
                <td>n</td>
                <td>1000€</td>
            </tr>
        </table>
    </div>
    <p>Ceny sú uvedené za jeden semester výučby.</p>


</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>