<div class="container" style="min-height: 100vh">
	<!--Main Content-->
	<nav aria-label="breadcrumb" role="navigation" class="m-2">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item""><a href="./../templates/Template.html#!/odbory">Odbory</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Bakalárske</li>
	  </ol>
	</nav>	

		<div class="m-2">
		<h1>Bakalárske štúdijné programy</h1>
		<p>FIIT má akreditované tieto študijné programy v <b class="font-weight-bold">3 a 4-ročnom dennom bakalárskom štúdiu</b> (v zmysle zákona č. 131/2002 Zb. o vysokých školách):</p>
		</div>

		<div class="col-md-12">
			<div class="card-deck p-2">
		  		<div class="card">
		   		 <img class="card-img-top" src="./../images/odbory/informatika_cardpic.jpeg" alt="Card image cap">
		   		 <div class="card-body">
		    		<h4 class="card-title">Informatika</h4>
	      			<p class="card-text">Študenti sa naučia ako zisťovať, vyhľadávať, zbierať, uchovávať, zobrazovať, spracúvať a prenášať informácie v systéme a medzi systémami, navrhovať softvér a efektívne programovať, ako postupovať pri vývoji malých aj rozsiahlych softvérových systémov.</p>
	      			<a href="./../templates/Template.html#!/odbory/bakalar_informatika" class="btn btn-primary">Viac</a>
				    </div>
				</div>

	  			<div class="card">
	    			<img class="card-img-top" src="./../images/odbory/informacna_bezpecnost_cardpic.jpeg" alt="Card image cap">
	    			<div class="card-body">
	     		 	<h4 class="card-title">Informačná bezpečnosť</h4>
	      			<p class="card-text">Študenti sa naučia ako zisťovať, vyhľadávať, zbierať, uchovávať, zobrazovať, spracúvať a prenášať informácie s dôrazom na ochranu súkromia a bezpečnosť, ako postupovať pri vývoji softvéru a efektívne programovať s dôrazom na bezpečnostné aspekty.</p>
	      			<a href="./../templates/Template.html#!/odbory/informacna_bezpecnesnost" class="btn btn-primary">Viac</a>
	    			</div>
	  			</div>

	 			<div class="card">
	    			<img class="card-img-top" src="./../images/odbory/internetove_technologie_cardpic.jpeg" alt="Card image cap">
	    			<div class="card-body">
	      			<h4 class="card-title">Internetové technológie</h4>
	      			<p class="card-text">Študenti sa naučia ako funguje počítač, zosieťovať takmer čokoľvek, porozumieť operačným systémom, zostaviť a nastaviť si vlastný server, bezpečnosť prostredia, o webe a mobilných aplikáciách, ako fungujú mobilní operátori.</p>
	      			<a href="./../templates/Template.html#!/odbory/internetove_technologie" class="btn btn-primary">Viac</a>
	    			</div>
	  			</div>
			</div>

	  		<div class="text-left p-2 ">
	  			<h3></h4>
	            <p>Ďalej sa naučíš o podnikaní, manažmente, právnych problémoch súvisiacich s informačnými technológiami a manažérskej ekonómii.</p>
	        </div>

			<div class="text-left p-2 ">
	  			<h3>Absolventi </h4>
	            <p>Absolventi sú pripravení buď na inžinierske/magisterské štúdium v informatických alebo iných príbuzných študijných programoch a po jeho absolvovaní aj na doktorandské, alebo na bezprostredný vstup na trh práce.</p>
	        </div>

	        <div class="text-left p-2 ">
	  			<h3>Uplatnenie </h4>
	            <p>ako analytik informačných systémov, projektant počítačových systémov, manažér kvality, bezpečnostný špecialista, počítačový grafik, projektant softvérových systémov, konzultant – špecialista, projektant počítačových a komunikačných sietí, administrátor softvérových, počítačových a komunikačných systémov, prípadne ale aj zakladateľ úspešnej IT spoločnosti v zdravotníctve, bankovníctve, telekomunikáciách, hernom priemysle, doprave, verejnej správe rôznych priemyselných podnikoch, IT spoločnostiach a ďalších na domácom i zahraničnom trhu.</p>
	        </div>

        </div> 





</div>