<div class="container" style="min-height: 100vh">
    <!--Main Content-->
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Odbory</li>
        </ol>
    </nav>

    <div class="row p-2">
        <h1>Štúdijné programy</h1>
    </div>

    <p>Fakulta informatiky a informačných technológií má akreditované tieto študijné programy (v zmysle zákona č.
        131/2002 Zb. o vysokých školách a o zmene a doplnení niektorých zákonov v znení neskorších predpisov) -
        informácia o akreditácii sa nachádza na stránkach Ministerstva školstva SR (vyberte Slovenská technická
        univerzita v Bratislave).</p>


    <div class="text-center">
        <figure class="figure">
            <img src="./../images/odbory/linia_studia.jpg" class="figure-img col-md-6" alt="Responsive image">
            <figcaption class="figure-caption text-right">Možnosti štúdia na FIIT</figcaption>
        </figure>
    </div>

    <h2 class="row"> Akreditácia </h2>
    <div>
        <p>Taktiež má akreditované študijné programy Britskou radou pre inžinierstvo - British Engineering Council UK
            (akreditačná komisia IET). Certifikát IET o absolvovaní akreditovaného študijného programu môžu získať iba
            absolventi, ktorí štátnu skúšku absolvovali na prvýkrát.</p>
    </div>

    <!--Skopirovane zo stranky fiit stuba-->
    <div class="">
        <div>
            <h4 class="row">1. stupeň - bakalárske štúdium</h4><br>

            <h5 class>3-ročné denné štúdium v študijnom programe</h5>
            <ul>
                <li><a id="" href="">Informatika</a></li>
                <li><a id="" href="">Informačná bezpečnosť</a></li>
                <li><a id="" href="">Internetové technológie</a></li>
            </ul>
            <h5 class>4-ročné denné štúdium v študijnom programe</h5>
            <ul>
                <li><a id="" href="">Informatika</a></li>
                <li><a id="" href="">Informačná bezpečnosť</a></li>
                <li><a id="" href="">Internetové technológie</a></li>
            </ul>
        </div>

        <hr/>
        <div>
            <h4 class="row">2. stupeň - inžinierske štúdium</h4><br>
            <h5 class>2-ročné denné, 3-ročné denné konverzné štúdium v študijnom programe:</h5>
            <ul>
                <li><a id="" href="">Informačné systémy</a></li>
                <li><a id="" href="">Internetové technológie</a></li>
                <li><a id="" href="">Softvérové inžinierstvo</a></li>
                <li><a id="" href="">Inteligentné softvérové systémy </a><span class="badge badge-cyan">Nové</span>
                </li>
            </ul>
        </div>

        <hr/>
        <div>
            <h4 class="row">3. stupeň - doktorandské štúdium</h4><br>
            <h5 class>3-ročné denné, 5-ročné externé štúdium v študijnom programe:</h5>
            <ul>
                <li><a id="" href="">Aplikovaná informatika</a></li>
                <li><a id="" href="">Inteligentné informačné systémy </a><span class="badge badge-cyan">Nové</span>
                </li>
            </ul>
        </div>
    </div>


</div>