<div class="container nav-margin">
    <!--Main Content-->
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../templates/Template.html#!/odbory">Odbory</a></li>
            <li class="breadcrumb-item active" aria-current="page">Výskumná orientácia</li>
        </ol>
    </nav>

    <h1>Výskumná orientácia v bakalárskom štúdiu</h1>
 
    <p> Výskumná orientácia v bakalárskom štúdiu predstavuje špeciálnu výberovú možnosť pre takých študentov, ktorí sú šikovní, pracovití, hlbšie sa zaujímajú o otvorené problémy študovaného odboru a najmä, majú záujem sa s niektorými výskumnými problémami aj tvorivo popasovať.</p>
    <p>Cieľom je vytvoriť priestor so študentmi pracovať tak, ako by sme si predstavovali, t. j. viac individuálne, s vyššou mierou voliteľnosti a vôbec možnosti študenta prispôsobiť si obsah štúdia svojim predstavám.</p>
    <p>Predpokladá sa, že takúto možnosť dostane špeciálne vytvorená skupinu zhruba 5 - 10 % študentov príslušnej kohorty (množiny študentov, ktorí nastúpili na štúdium v jednom akademickom roku).</p>

    <h4>Čo ponúkame študentom</h4>
    <ul>
        <li>menej štandardného učenia, viac tvorivej individuálnej práce, spravidla smerujúcej k výskumu,</li>
        <li>privilégium individuálnejšieho prístupu,</li>
        <li>pre oba študijné programy ponúkame možnosť zostaviť si študijný plán s orientáciou na výskum, čo znamená: 
            <ul>
                <li>namiesto troch povinne voliteľných predmetov postupnosť troch výskumne orientovaných seminárov, špeciálne navrhnutých pre malú skupinu najlepších študentov, podľa možností aj prispôsobených individuálnym potrebám študentov, najmä v nadväznosti na zvolené témy výskumu,</li>
                <li>možnosť navrhnúť tému svojej bakalárskej práce v súlade s oblasťami výskumu určených pracovníkov fakulty (mentorov) tejto skupiny,</li>
                <li>o jeden semester skorší začiatok vypracúvania bakalárskej práce s výberom témy už v treťom semestri,</li>
                <li>možnosť vybrať si navyše aj výskumne orientovaný seminár už v treťom semestri,</li>
            </ul>
        </li>
        <li>možnosť individuálneho prístupu v rámci seminárov (napr. v študijnom programe Informatika individuálny prístup pre zdokonalenie sa v algoritmizácii a programovaní ako príprava na rôzne súťaže, napr. medzinárodná súťaž ACM ICPC alebo individuálny prístup pri príprave na tvorbu webových aplikácií najnovšími technológiami – najmä Web 2.0, ale aj už vznikajúci Web 3.0, v študijnom programe Počítačové a komunikačné systémy a siete individuálny prístup pre zdokonalenie sa v počítačových systémoch a sieťových technológiách ako príprava na súťaže napr. NAG (Net Academy Games), súťaže v oblasti návrhu počítačových systémov),</li>
        <li>podpora v súťažiach a motivácia k účasti v medzinárodných súťažiach,</li>
        <li>možnosť práce na výskumných projektoch na fakulte.</li>
    </ul>

    <h4>Čo očakávame od študentov</h4>
    <ul>
        <li>motivácia a nasadenie v štúdiu tak, aby študent dosahoval výborné výsledky,</li>
        <li>výsledky v projektoch (najmä v súvislosti s bakalárskym projektom, ale nielen),</li>
        <li>zapojenie sa do súťaží (v prípade, že to je v súlade s konkrétnou orientáciou študenta).</li>
    </ul>
</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>