<div class="container nav-margin">
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../templates/Template.html#!/odbory">Odbory</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inžinierské</li>
        </ol>
    </nav>

    <div class="m-2">
        <h1>Inžinierské štúdijné programy</h1>
        <p>FIIT má akreditované tieto študijné programy v <b class="font-weight-bold">2-ročnom dennom a 3-ročnom dennom konverznom inžinierskom štúdiu</b> (v zmysle zákona č. 131/2002 Zb. o vysokých školách):</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron text-center bg-fiit lighten-2 white-text">

                <!--Title-->
                <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
                <h4 class="display-4 mt-2">Ďaľší obsah pre Vás pripravujeme.</h4>

                <!--Text-->
                <div class="d-flex flex-column flex-center justify-content-center text-center">
                    <p class="card-text my-2">
                        Potrebné informácie nájdete na stránke FIIT STU.
                    </p>
                </div>
                <a href="https://www.fiit.stuba.sk/" class="btn btn-outline-white">
                    <i class="fa fa-chevron-circle-left"
                       aria-hidden="true"></i>
                    Prejdi na stránku</a>
            </div>
        </div>
    </div>


</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>