<div class="container nav-margin">
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./../templates/Template.html#!/odbory">Odbory</a></li>
            <li class="breadcrumb-item"><a href="./../templates/Template.html#!/odbory/bakalar">Bakalárske</a></li>
            <li class="breadcrumb-item active" aria-current="page">Internetové technológie</li>
        </ol>
    </nav>

    <h1>Internetové technológie</h1>
    <p class="font-italic font-weight-light">Denný bakalársky 3 alebo 4 ročný štúdijný program.</p>
</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>