<div class="container nav-margin">
    <!--Main Content-->
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Odbory</li>
        </ol>
    </nav>

    <div class="row p-2">
        <h1>Štúdijné programy</h1>
    </div>

    <p>Fakulta informatiky a informačných technológií má akreditované tieto študijné programy (v zmysle zákona č.
        131/2002 Zb. o vysokých školách a o zmene a doplnení niektorých zákonov v znení neskorších predpisov) -
        informácia o akreditácii sa nachádza na stránkach Ministerstva školstva SR (vyberte Slovenská technická
        univerzita v Bratislave).</p>


    <div class="text-center">
        <figure class="figure">
            <img src="./../images/odbory/linia_studia.jpg" class="figure-img col-md-6" alt="Responsive image">
            <figcaption class="figure-caption text-right">Možnosti štúdia na FIIT</figcaption>
        </figure>
    </div>

    <h2 class="row"> Akreditácia </h2>
    <div>
        <p>Taktiež má FIIT akreditované študijné programy Britskou radou pre inžinierstvo - British Engineering Council UK
            (akreditačná komisia IET). Certifikát IET o absolvovaní akreditovaného študijného programu môžu získať iba
            absolventi, ktorí štátnu skúšku absolvovali na prvýkrát.</p>
            <ul>
                <li>titul Bc. je na úrovni britského BEng</li>
                <li>titul Ing., po získaní titulu Bc. v tom istom odbore na STU v Bratislave, je na úrovni britského MEng</li>
            </ul>
    </div>

    <!--Skopirovane zo stranky fiit stuba-->
    <h2 class="row"> Programy </h2>
    <div class="p-2">
        <div>
            <h4 class="row">1. stupeň - bakalárske štúdium</h4><br>

            <h5 class>3-ročné denné štúdium v študijnom programe</h5>
            <ul>
                <li><a id="" href="./../templates/Template.html#!/odbory/bakalar/informatika">Informatika</a></li>
                <li><a id="" href="./../templates/Template.html#!/odbory/bakalar/informacna_bezpecnost">Informačná bezpečnosť</a></li>
                <li><a id="" href="./../templates/Template.html#!/odbory/bakalar/internetove_technologie">Internetové technológie</a></li>
            </ul>
            <h5 class>4-ročné denné štúdium v študijnom programe</h5>
            <ul>
                <li><a id="" href="">Informatika</a></li>
                <li><a id="" href="">Informačná bezpečnosť</a></li>
                <li><a id="" href="">Internetové technológie</a></li>
            </ul>
        </div>

        <hr/>
        <div>
            <h4 class="row">2. stupeň - inžinierske štúdium</h4><br>
            <h5 class>2-ročné denné, 3-ročné denné konverzné štúdium v študijnom programe:</h5>
            <ul>
                <li><a id="" href="">Informačné systémy</a></li>
                <li><a id="" href="">Internetové technológie </a><span class="badge badge-cyan">Nové</span></li>
                <li><a id="" href="">Softvérové inžinierstvo</a></li>
                <li><a id="" href="">Inteligentné softvérové systémy </a><span class="badge badge-cyan">Nové</span>
                </li>
            </ul>
        </div>

        <hr/>
        <div>
            <h4 class="row">3. stupeň - doktorandské štúdium</h4><br>
            <h5 class>3-ročné denné, 5-ročné externé štúdium v študijnom programe:</h5>
            <ul>
                <li><a id="" href="">Aplikovaná informatika</a></li>
                <li><a id="" href="">Inteligentné informačné systémy </a>
                </li>
            </ul>
        </div>
    </div>

    <h2 class="row"> Na stiahnutie </h2>
    <div class="p-2">
        <p>Podrobné informácie o študijných programoch, predmetoch a prednášateľoch v šk. roku 2017/2018</p>

        <ul>
        <li><a href="./../documents/studijne.pdf">
          Študijné programy pre akad. rok 2017/18
          <img src="./../images/icons/file-pdf.svg"></a></li>

        <li><a href="./../documents/katalog-predmetov.pdf">
          Podrobný katalóg predmetov v šk. roku 2017/2018
          <img src="./../images/icons/file-pdf.svg"></a></li>
        <ul>


    </div>



</div>