<div class="container" style="min-height: 100vh">
	<nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./../templates/Template.html#!/odbory">Odbory</a></li>
            <li class="breadcrumb-item active" aria-current="page">Bakalárske</li>
        </ol>
    </nav>

	<div>
		<h1>Informatika</h1>
        <p class="font-italic font-weight-light">Denný bakalársky 3 alebo 4 ročný štúdijný program.</p>
    </div>

    <div>
		<h3>Absolvent</h3>
		<ul>
		    <li>získa úplné prvostupňové vysokoškolské vzdelanie v odbore informatika s orientáciou na softvérové systémy a softvérové procesy</li>

		    <li>bude rozumieť informatike ako disciplíne a oblasti poznania, ako profesii v jej širšom spoločenskom kontexte</li>

		    <li>bude mať znalosti z teoretických základov všeobecnej informatiky, algoritmizácie, údajových štruktúr, programovacích jazykov, analýzy a návrhu softvérových systémov a ich manažmentu, architektúry a organizácie počítačových systémov a sietí</li>

		    <li>bude schopný analyzovať, navrhovať, implementovať, overovať softvérové systémy; účinne a efektívne nasadzovať a prevádzkovať počítačové a softvérové systémy; pracovať efektívne ako člen vývojového tímu; použiť princípy efektívnej práce s informáciami rôzneho druhu a z rôznych zdrojov; pracovať s nástrojmi používanými pri projektovaní, konštruovaní a dokumentovaní softvéru</li>

		    <li>bude si vedomý spoločenských, morálnych, právnych a ekonomických súvislostí svojej profesie</li>

		    <li>bude pripravený buď na štúdium študijného programu druhého stupňa v informatických, alebo iných príbuzných študijných programoch a po jeho absolvovaní aj v doktorandskom štúdiu alebo na bezprostredný vstup na trh práce</li>

		    <li>nájde uplatnenie vo všetkých druhoch podnikov a organizácií, ako vo verejnom tak aj v súkromnom sektore, ktoré využívajú metódy a prostriedky informatiky a informačné technológie na riadenie a správu svojich procesov (napr. priemyselné podniky, bankovníctvo, doprava, zdravotníctvo, vzdelávacie inštitúcie). Uplatní sa ako projektant softvérových systémov, programátor, pracovník pri testovaní, nasadzovaní, prevádzke a údržbe systémov informačných technológií</li>
		</ul>
	</div>

Absolvent študijného programu informatika vie pracovať so štandardnými nástrojmi informatiky a informačných technológií, napríklad programovacie jazyky (asembler, C, C++, Java); operačné systémy (UNIX, Windows); kancelárske balíky (MS Office); databázové systémy (ORACLE, MS Access); CASE prostriedky (Rational Rose), systémy pre projektovanie a návrh webových aplikácií.


</div>