<div class="container nav-margin">
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./../templates/Template.html#!/odbory">Odbory</a></li>
            <li class="breadcrumb-item"><a href="./../templates/Template.html#!/odbory/bakalar">Bakalárske</a></li>
            <li class="breadcrumb-item active" aria-current="page">Informatika</li>
        </ol>
    </nav>

    <h1>Informatika</h1>
    <p class="font-italic font-weight-light">Denný bakalársky 3 alebo 4 ročný štúdijný program.</p>

    <p>
    Študenti sa naučia ako zisťovať, vyhľadávať, zbierať, uchovávať, zobrazovať, spracúvať a prenášať informácie v systéme a medzi systémami, navrhovať softvér a efektívne programovať, ako postupovať pri vývoji malých aj rozsiahlych softvérových systémov.
    </p>

    <h3>Absolvent</h3>
    <ul>
        <li>získa úplné prvostupňové vysokoškolské vzdelanie v odbore informatika s orientáciou na softvérové
            systémy a softvérové procesy
        </li>

        <li>bude rozumieť informatike ako disciplíne a oblasti poznania, ako profesii v jej širšom spoločenskom
            kontexte
        </li>

        <li>bude mať znalosti z teoretických základov všeobecnej informatiky, algoritmizácie, údajových štruktúr,
            programovacích jazykov, analýzy a návrhu softvérových systémov a ich manažmentu, architektúry a
            organizácie počítačových systémov a sietí
        </li>

        <li>bude schopný analyzovať, navrhovať, implementovať, overovať softvérové systémy; účinne a efektívne
            nasadzovať a prevádzkovať počítačové a softvérové systémy; pracovať efektívne ako člen vývojového tímu;
            použiť princípy efektívnej práce s informáciami rôzneho druhu a z rôznych zdrojov; pracovať s nástrojmi
            používanými pri projektovaní, konštruovaní a dokumentovaní softvéru
        </li>

        <li>bude si vedomý spoločenských, morálnych, právnych a ekonomických súvislostí svojej profesie</li>

        <li>bude pripravený buď na štúdium študijného programu druhého stupňa v informatických, alebo iných
            príbuzných študijných programoch a po jeho absolvovaní aj v doktorandskom štúdiu alebo na bezprostredný
            vstup na trh práce
        </li>

        <li>nájde uplatnenie vo všetkých druhoch podnikov a organizácií, ako vo verejnom tak aj v súkromnom sektore,
            ktoré využívajú metódy a prostriedky informatiky a informačné technológie na riadenie a správu svojich
            procesov (napr. priemyselné podniky, bankovníctvo, doprava, zdravotníctvo, vzdelávacie inštitúcie).
            Uplatní sa ako projektant softvérových systémov, programátor, pracovník pri testovaní, nasadzovaní,
            prevádzke a údržbe systémov informačných technológií
        </li>
    </ul>

    <p>
    Absolvent študijného programu informatika vie pracovať so štandardnými nástrojmi informatiky a informačných
    technológií, napríklad programovacie jazyky (asembler, C, C++, Java); operačné systémy (UNIX, Windows); kancelárske
    balíky (MS Office); databázové systémy (ORACLE, MS Access); CASE prostriedky (Rational Rose), systémy pre
    projektovanie a návrh webových aplikácií. </p>
    
    <h3>Predmety</h3>
    <p> V následujúcich obrázkoch je znázornené aké predmety čakajú študentov počas ich štúdia v obore informatika. Rozdiel medzi 3 a 4 ročným programom je taký, že nultý ročník ponúka posilnenie matematických základov a algoritmického programátorského myslenia. Obsah je však vyvážený a okrem toho ponúkame už v nultom ročníku (len v týchto štvorročných programoch) aj veľmi zaujímavé a atraktívne predmety zamerané najmä na základy počítačovej grafiky a mobilné a interaktívne aplikácie. Bližšie informácie si možno stiahnuť <a href="./../documents/studijne.pdf">Študijné programy pre akad. rok 2017/18 <img src="./../images/icons/file-pdf.svg"></a> alebo <a href="./../documents/katalog-predmetov.pdf"> Podrobný katalóg predmetov v šk. roku 2017/2018 <img src="./../images/icons/file-pdf.svg"></a> </p>
    
    <div class="card-group">
      <div class="card">
        <img class="card-img-top" src="./../images/odbory/binfo/predmety3rocny.PNG" alt="Card image cap">
      </div>
      <div class="card">
        <img class="card-img-top" src="./../images/odbory/binfo/predmety4rocny.PNG" alt="Card image cap">
      </div>
    </div>
    <figcaption class="figure-caption text-right">Postup predmetov</figcaption>


</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>