<div class="container nav-margin">
    <!--Main Content-->
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Odbory</li>
        </ol>
    </nav>

    <h1>Štúdijné programy</h1>
    <p>Fakulta informatiky a informačných technológií má akreditované tieto študijné programy (v zmysle zákona č.
        131/2002 Zb. o vysokých školách a o zmene a doplnení niektorých zákonov v znení neskorších predpisov) -
        informácia o akreditácii sa nachádza na stránkach Ministerstva školstva SR (vyberte Slovenská technická
        univerzita v Bratislave).</p>


    <div class="text-center">
        <figure class="figure">
            <img src="./../images/odbory/linia_studia.jpg" class="figure-img col-md-6" alt="Responsive image">
            <figcaption class="figure-caption text-right">Možnosti štúdia na FIIT</figcaption>
        </figure>
    </div>

    <h2>Akreditácia </h2>
    <p>Taktiež má FIIT akreditované študijné programy Britskou radou pre inžinierstvo - British Engineering Council UK
        (akreditačná komisia IET). Certifikát IET o absolvovaní akreditovaného študijného programu môžu získať iba
        absolventi, ktorí štátnu skúšku absolvovali na prvýkrát.</p>
    <ul>
        <li>titul Bc. je na úrovni britského BEng</li>
        <li>titul Ing., po získaní titulu Bc. v tom istom odbore na STU v Bratislave, je na úrovni britského MEng</li>
    </ul>

    <!--Skopirovane zo stranky fiit stuba-->
    <h2>Programy </h2> <br>
    <div>
        <div>
            <h4>1. stupeň - <a href="./../templates/Template.html#!/odbory/bakalar">bakalárske štúdium</a></h4>

            <h5>3-ročné denné štúdium,4-ročné denné štúdium v študijnom programe</h5>
            <ul>
                <li><a id="" href="./../templates/Template.html#!/odbory/bakalar/informatika">Informatika</a></li>
                <li><a id="" href="./../templates/Template.html#!/odbory/bakalar/informacna_bezpecnost">Informačná bezpečnosť</a></li>
                <li><a id="" href="./../templates/Template.html#!/odbory/bakalar/internetove_technologie">Internetové technológie</a></li>
            </ul>
        </div>

        <hr/>
        <div>
            <h4>2. stupeň - <a href="./../templates/Template.html#!/odbory/inzinier">inžinierske štúdium</a></h4>
            <h5>2-ročné denné, 3-ročné denné konverzné štúdium v študijnom programe:</h5>
            <ul>
                <li><a id="" href="">Informačné systémy</a></li>
                <li><a id="" href="">Internetové technológie </a><span class="badge badge-cyan">Nové</span></li>
                <li><a id="" href="">Softvérové inžinierstvo</a></li>
                <li><a id="" href="">Inteligentné softvérové systémy </a><span class="badge badge-cyan">Nové</span>
                </li>
            </ul>
        </div>

        <hr/>
        <div>
            <h4>3. stupeň - <a href="./../templates/Template.html#!/odbory/doktorand">doktorandské štúdium</a></h4>
            <h5>3-ročné denné, 5-ročné externé štúdium v študijnom programe:</h5>
            <ul>
                <li><a id="" href="">Aplikovaná informatika</a></li>
                <li><a id="" href="">Inteligentné informačné systémy </a>
                </li>
            </ul>
        </div>
    </div>

    <h2> Na stiahnutie</h2>
    <p>Podrobné informácie o študijných programoch, predmetoch a prednášateľoch v šk. roku 2017/2018</p>

    <ul>
    <li><a href="./../documents/studijne.pdf">
      Študijné programy pre akad. rok 2017/18
      <img src="./../images/icons/file-pdf.svg"></a></li>

    <li><a href="./../documents/katalog-predmetov.pdf">
      Podrobný katalóg predmetov v šk. roku 2017/2018
      <img src="./../images/icons/file-pdf.svg"></a></li>
    <ul>


</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>