<div class="container nav-margin">
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./../templates/Template.html#!/prijatie">Prihláška</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ako sa prihlásiť</li>
        </ol>
    </nav>

    <div>
        <h1>Ako sa prihlásiť</h1>
        <p>Prihlášku je možné podľa nasledujúcich pokynov podať <strong>do 31. marca 2018.</strong></p>
    </div>

    <section id="vyplnenie">

        <h2>Vyplnenie prihlášky</h2>
        <p>Prihlášku je možné vyplniť elektronicky v <a href="http://is.stuba.sk/?lang=sk">akademickom informačnom
            systéme AIS </a> podľa nasledovných pokynov.</p>

        <div class="d-flex flex-column">
            <div class="card card-body m-2">
                <table>
                    <tr>
                        <td>
                            <div class="number-box mr-2">1</div>
                        </td>
                        <td>
                            <b><a class="ml-2" data-state="show" data-toggle="collapse" data-target="#step1"
                                  onclick="change_text(this, 1)">Zobraziť
                                <img data-toggle="collapse" data-target="#step1" src="../images/arrows/down.svg"
                                     height="12px"></a></b>
                        </td>
                    </tr>
                </table>

                <div id="step1" class="collapse">
                    <p class="mt-2">V hlavnom menu systému AIS zvoľte možnosť <i>Elektronická prihláška na štúdium na
                        STU</i>
                        v sekcií <i>Prijímacie konanie</i></p>
                    <img class="img-fluid" src="../images/prihlaska_demo/step1.JPG"/>
                </div>
            </div>
            <div class="card card-body m-2">
                <table>
                    <tr>
                        <td>
                            <div class="number-box mr-2">2</div>
                        </td>
                        <td>
                            <b><a class="ml-2" data-state="show" data-toggle="collapse" data-target="#step2"
                                  onclick="change_text(this, 2)">Zobraziť
                                <img data-toggle="collapse" data-target="#step2" src="../images/arrows/down.svg"
                                     height="12px"></a></b>
                        </td>
                    </tr>
                </table>

                <div id="step2" class="collapse">
                    <p class="mt-2">
                        Pre vytvorenie účtu v systéme AIS zvoľte možnosť <i>Vstúpiť do systému e-prihlášok ako nový
                        používateľ.</i> Ak už účet máte, ďalej sa prihlasujte prostredníctvom možnosti <i>Vstúpiť do
                        systému
                        e-prihlášok ako používateľ e-prihlášok.</i> Ak už ste študentom Slovenskej technickej univerzity
                        a
                        máte prístup do systému AIS, zvoľte možnosť <i>Vstúpiť do systému e-prihlášok ako používateľ
                        AIS.</i>
                    </p>
                    <img class="img-fluid" src="../images/prihlaska_demo/step2.JPG"/>
                </div>
            </div>

            <div class="card card-body m-2">
                <table>
                    <tr>
                        <td>
                            <div class="number-box mr-2">3</div>
                        </td>
                        <td>
                            <b><a class="ml-2" data-state="show" data-toggle="collapse" data-target="#step3"
                                  onclick="change_text(this, 3)">Zobraziť
                                <img data-toggle="collapse" data-target="#step3" src="../images/arrows/down.svg"
                                     height="12px"></a></b>
                        </td>
                    </tr>
                </table>

                <div id="step3" class="collapse">
                    <p class="mt-2">
                        Zvoľte <i>Fakultu informatiky a informačných technológií</i>
                    </p>
                    <img src="../images/prihlaska_demo/step3.JPG"/>
                </div>
            </div>

            <div class="card card-body m-2">
                <table>
                    <tr>
                        <td>
                            <div class="number-box mr-2">4</div>
                        </td>
                        <td>
                            <b><a class="ml-2" data-state="show" data-toggle="collapse" data-target="#step4"
                                  onclick="change_text(this, 4)">Zobraziť
                                <img data-toggle="collapse" data-target="#step4" src="../images/arrows/down.svg"
                                     height="12px"></a></b>
                        </td>
                    </tr>
                </table>

                <div id="step4" class="collapse">
                    <p class="mt-2">
                        Vyberte typ štúdia, na ktoré sa chcete prihlásiť
                    </p>
                    <img class="img-fluid" src="../images/prihlaska_demo/step4.JPG"/>
                </div>
            </div>

            <div class="card card-body m-2">
                <table>
                    <tr>
                        <td>
                            <div class="number-box mr-2">5</div>
                        </td>
                        <td>
                            <b><a class="ml-2" data-state="show" data-toggle="collapse" data-target="#step5"
                                  onclick="change_text(this, 5)">Zobraziť
                                <img data-toggle="collapse" data-target="#step5" src="../images/arrows/down.svg"
                                     height="12px"></a></b>
                        </td>
                    </tr>
                </table>

                <div id="step5" class="collapse">
                    <p class="mt-2">
                        Vyberte študijný program, na ktorý sa chcete prihlásiť. Pokračujte kliknutím na šipku v stĺpci
                        "vybrať"
                        pri Vami zvolenom programe
                    </p>
                    <img class="img-fluid" src="../images/prihlaska_demo/step5.JPG"/>
                </div>
            </div>

            <div class="card card-body m-2">
                <table>
                    <tr>
                        <td>
                            <div class="number-box mr-2">6</div>
                        </td>
                        <td>
                            <b><a class="ml-2" data-state="show" data-toggle="collapse" data-target="#step6"
                                  onclick="change_text(this, 6)">Zobraziť
                                <img data-toggle="collapse" data-target="#step6" src="../images/arrows/down.svg"
                                     height="12px"></a></b>
                        </td>
                    </tr>
                </table>

                <div id="step6" class="collapse">
                    <p class="mt-2">
                        Vyplňte požadované osobné údaje a podajte prihlášku kliknutím na tlačidlo <i>Založiť e-prihlášku
                        a
                        pokračovať</i>
                    </p>
                    <img class="img-fluid" src="../images/prihlaska_demo/step6.JPG"/>
                </div>
            </div>
        </div>
    </section>

    <section id="prilohy">
        <h2 class="p-2">Prílohy k prihláške</h2>
        <div class="col-md-12">
            <div class="card card-body m-2">
                <table>
                    <tr style="vertical-align:middle">
                        <td style="vertical-align: middle">
                            <div class="number-box mr-2">
                                <b>1.</b>
                            </div>
                        </td>
                        <td style="vertical-align: middle; padding-left: 12px;">
                            Štrukturovaný životopis. Oporúčame použiť
                            <a href="https://www.fiit.stuba.sk/buxus/docs/dokumenty_studium/curriculum.doc">šablonu</a>.
                        </td>
                    </tr>
                    <tr style="vertical-align:middle">
                        <td style="vertical-align: middle">
                            <div class="number-box mr-2">
                                <b>2.</b>
                            </div>
                        </td>
                        <td style="vertical-align: middle; padding-left: 12px;">
                            Doklady o štúdiu
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <ul>
                                <li>Overená kópia maturitného vysvedčenia. Uchádzači, ktorí maturujú v tom roku, v
                                    ktorom sa zúčastňujú prijímacieho konania, ju dodajú bezprostredne po vykonaní
                                    maturitnej skúšky.
                                </li>
                                <li>Najlepšie z hodnotení (uvedené v percentiloch), viď
                                    <a href="./../templates/Template.html#!/prijatie/podmienky">podmienky prijatia</a>.
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr style="vertical-align:middle">
                        <td style="vertical-align: middle">
                            <div class="number-box mr-2">
                                <b>3.</b>
                            </div>
                        </td>
                        <td style="vertical-align: middle; padding-left: 12px;">
                            Čestné prehlásenie s vlastnoručným podpisom, že Váš zdravotný stav Vám umožňuje študovať na
                            vysokej škole. Ak máte zmenenú pracovnú schopnosť, musíte priložiť potvrdenie lekára o
                            zdravotnej spôsobilosti,
                        </td>
                    </tr>
                    <tr style="vertical-align:middle">
                        <td style="vertical-align: middle">
                            <div class="number-box mr-2">
                                <b>4.</b>
                            </div>
                        </td>
                        <td style="vertical-align: middle; padding-left: 12px;">
                            Potvrdenie (kópia) o zaplatení poplatku za materiálne zabezpečenie prijímacieho konania,
                            <strong>iba v prípade, ak poplatok bol uhradený poštovým poukazom na účet</strong>.
                        </td>
                    </tr>
                    <tr style="vertical-align:middle">
                        <td style="vertical-align: middle">
                            <div class="number-box mr-2">
                                <b>5.</b>
                            </div>
                        </td>
                        <td style="vertical-align: middle; padding-left: 12px;">
                            Overené kópie umiestnení na rôznych odborných súťažiach, ak uchádzač chce získať bonusové
                            body.
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <h2>Poplatok za materiálne zabezpečenie prijímacieho konania</h2>
        <ul>
            <li>20 €</li>
            <li>Spôsob úhrady poplatku:</li>
            <ul>
                <li><i>poštovým poukazom na účet</i> na adresu:<br/> FIIT STU v Bratislave<br/> Ilkovičova 2<br/>
                    842 16 Bratislava 4
                </li>
                <li><i>bankovým prevodom:</i><br/> číslo účtu: SK8381800000007000085552<br/> variabilný symbol:
                    číslo pridelené <a href="http://www.fiit.stuba.sk/studapp/" target="_blank" rel="noopener">systémom
                        elektronickej prihlášky</a><br/>
                    konštantný symbol<br/> - pre platbu prevodom: 0558<br/> - pre platbu šekom: 0379
                </li>
            </ul>
        </ul>
        <p><strong>V časti „Správa pre prijímateľa“ musí uchádzač uviesť svoje meno a priezvisko.</strong></p>

        <h2>Odoslanie prihlášky</h2>

        <p>Prihlášku vytlačte, podpíšte a spolu s potrebnými prílohami odošlite na adresu:</p>
        <div style="margin-top: -23px;padding-left: 12px">
            <p>
                <br/>&#8195;FIIT STU v Bratislave
                <br/>&#8195;Ilkovičova 2
                <br/>&#8195;842 16 Bratislava 4
            </p>
        </div>
    </section>
</div>

<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>