<div class="container nav-margin">
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./../templates/Template.html#!/prijatie">Prihláška</a></li>
            <li class="breadcrumb-item"><a href="./../templates/Template.html#!/prijatie/podmienky">Podmienky prijatia</a></li>
            <li class="breadcrumb-item active" aria-current="page">Body za súťaže</li>
        </ol>
    </nav>

    <div class="m-2">
        <h1>Body za súťaže</h1>
        <p>Výsledky v súťažiach sa pre prijímacie konanie v zmysle schválených podmienok prijímania na
            Fakultu informatiky a informačných technológií STU v Bratislave berú do úvahy pri vyhodnocovaní
            prijímacieho konania takto:</p>
    </div>

    <table>
        <tr>
            <th>Súťaže</th>
            <th>Umiestnenie</th>
            <th>Počet bodov</th>
        </tr>
        <tr>
            <td ><b>Matematické</b></td>
        </tr>
        <tr>
            <td>Matematická olympiáda - medzinárodné kolo</td>
            <td>úspešný riešiteľ</td>
            <td>90</td>
        </tr>
        <tr>
            <td rowspan="2">Matematická olympiáda - celoštátne kolo</td>
            <td>1. - 3. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>úspešný riešiteľ</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Matematická olympiáda - krajské kolo</td>
            <td>úspešný riešiteľ</td>
            <td>60</td>
        </tr>
        <tr>
            <td>iBobor</td>
            <td>v 10.% najlepších</td>
            <td>60</td>
        </tr>
        <tr>
            <td>Pangea - celoštátne kolo</td>
            <td>úspešný riešiteľ</td>
            <td>60</td>
        </tr>
        <tr>
            <td colspan="3"><hr /></td>
        </tr>
        <tr>
            <td><b>Informatické</b></td>
        </tr>
        <tr>
            <td rowspan="2">ProFIIT</td>
            <td>1. - 3. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>úspešný riešiteľ</td>
            <td>75</td>
        </tr>
        <tr>
            <td>IIT.SRC Junior</td>
            <td>aktívna prezentácia</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Medzinárodná olympiáda v informatike</td>
            <td>úspešný riešiteľ</td>
            <td>90</td>
        </tr>
        <tr>
            <td>Stredoeurópska olympiáda v informatike (CEOI)</td>
            <td>úspešný riešiteľ</td>
            <td>90</td>
        </tr>
        <tr>
            <td rowspan="2">Olympiáda v informatike - celoštátne kolo</td>
            <td>1. - 3. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>úspešný riešiteľ</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Olympiáda v informatike - krajské kolo</td>
            <td>úspešný riešiteľ</td>
            <td>60</td>
        </tr>
        <tr>
            <td>NAG (súťaž Sieťových akadémií) – medzinárodné kolo</td>
            <td>úspešný riešiteľ</td>
            <td>90</td>
        </tr>
        <tr>
            <td>NAG (súťaž Sieťových akadémií) – celoštátne kolo</td>
            <td>1. - 5. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>Junior Internet</td>
            <td>celkový víťaz</td>
            <td>90</td>
        </tr>
        <tr>
            <td>Junior Internet - kateg. Junior APP</td>
            <td>1. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>Junior Internet - kateg. Junior APP</td>
            <td>2. - 3. miesto</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Junior Internet - kateg. Junior WEB, DESIGN, LEARN</td>
            <td>1. miesto</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Junior Internet - kateg. Junior WEB, DESIGN, LEARN</td>
            <td>2. - 3. miesto</td>
            <td>60</td>
        </tr>
        <tr>
            <td>Zenit - celoštátne kolo</td>
            <td>1. - 3. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>Zenit - krajské kolo</td>
            <td>1. - 3. miesto</td>
            <td>60</td>
        </tr>
        <tr>
            <td>RoboCupJunior - medzinárodné kolo</td>
            <td>účasť</td>
            <td>90</td>
        </tr>
        <tr>
            <td>RoboCupJunior - celoslovenské kolo</td>
            <td>1. - 3. miesto</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Ďalšie informatické súťaže, uznané fakultou</td>
            <td>1. - 3. miesto</td>
            <td>individuálne</td>
        </tr>
        <tr>
            <td colspan="3"><hr /></td>
        </tr>
        <tr>
            <td><b>Fyzikálne</b></td>
        </tr>
        <tr>
            <td>Fyzikálna olympiáda - medzinárodná</td>
            <td>úspešný riešiteľ</td>
            <td>90</td>
        </tr>
        <tr>
            <td rowspan="2">Fyzikálna olympiáda - celoštátne kolo</td>
            <td>1. - 3. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>úspešný riešiteľ</td>
            <td>75</td>
        </tr>
        <tr>
            <td>Fyzikálna olympiáda - krajské kolo</td>
            <td>úspešný riešiteľ</td>
            <td>60</td>
        </tr>
        <tr>
            <td>Turnaj mladých fyzikov - celoštátne kolo</td>
            <td>úspešný riešiteľ</td>
            <td>90</td>
        </tr>
        <tr>
            <td colspan="3"><hr /></td>
        </tr>
        <tr>
            <td><b>SOČ</b></td>
        </tr>
        <tr>
            <td>Informatika - celoštátne kolo</td>
            <td>1. - 3. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>Informatika - krajské kolo</td>
            <td>1. - 3. miesto</td>
            <td>60</td>
        </tr>
        <tr>
            <td>Matematika a fyzika - celoštátne kolo</td>
            <td>1. - 3. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>Matematika a fyzika - krajské kolo</td>
            <td>1. - 3. miesto</td>
            <td>60</td>
        </tr>
        <tr>
            <td>Elektronika a hardvér - celoštátne kolo</td>
            <td>1. - 3. miesto</td>
            <td>90</td>
        </tr>
        <tr>
            <td>Elektronika a hardvér - krajské kolo</td>
            <td>1. - 3. miesto</td>
            <td>60</td>
        </tr>
        <tr>
            <td colspan="3"><hr /></td>
        </tr>
        <tr>
            <td><b>Iné celoštátne/medzinárodné súťaže/olympiády</b></td>
        </tr>
        <tr>
            <td>Biologická, geografická, chemická, slovenského <br /> jazyka, cudzích jazykov, ľudských práv</td>
            <td><br />1. - 3. miesto</td>
            <td><br />30</td>
        </tr>
        <tr>
            <td>Oficiálne IQ test (spoločnosť Mensa)</td>
            <td>aspoň 110 bodov</td>
            <td>60</td>
        </tr>
        <tr>
            <td>Ďalšie odborné súťaže, uznané fakultou</td>
            <td>1. - 3. miesto</td>
            <td>individuálne</td>
        </tr>
    </table>

    <p style="padding-top: 40px">
        Ak fakulta identifikuje informatickú alebo matematickú súťaž pre stredoškolákov,
        môže aj jej výsledky vziať do úvahy. Ak sa budú výsledky takejto súťaže uvažovať, musí fakulta zverejniť
        spôsob vyhodnocavania najnekôr dva mesiace pred termínom prijímacieho konania (neplatí pre CCNA
        certifikáty z Cisco sieťovej akadémie, súťaž MAKS a Klokan).
    </p>
    <p>
        Podmienkou priznania bodového hodnotenia je zaslanie overeného diplomu alebo iného dokladu o dosiahnutom
        výsledku ako prílohu prihlášky na štúdium.
    </p>
    <p>
        Uchádzačovi, riešiteľovi viacerých súťaží v danej oblasti, sa pri hodnotení berie do úvahy iba jedno
        ocenenie v danej oblasti, za ktoré získa najlepšie bodové hodnotenie.
    </p>

</div>

<button onclick="tofirst()" class="btn fiit-color btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                              style="height: 15px;"></button>