<div class="container nav-margin">
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../templates/Template.html#!/prijatie">Admissions</a></li>
            <li class="breadcrumb-item"><a href="../templates/Template.html#!/prijatie/podmienky">Admission Requirements</a></li>
            <li class="breadcrumb-item active" aria-current="page">Points for Competitions</li>
        </ol>
    </nav>

    <div class="m-2">
        <h1>Points for Competitions</h1>
        <p>Results of competitions are according to the accepted admission requirements or the
            Faculty of informatics and information technologies of STU in Bratislava taken into
            consideration in the following way:</p>
    </div>
    <div class="col-md-12">
        <table>
            <tr>
                <th>Competition</th>
                <th>Placement</th>
                <th>Points awarded</th>
            </tr>
            <tr>
                <td><b>Mathematics</b></td>
            </tr>
            <tr>
                <td>Mathematical Olympiad - international round</td>
                <td>successful participant</td>
                <td>90</td>
            </tr>
            <tr>
                <td rowspan="2">Mathematical Olympiad - national round</td>
                <td>1st - 3rd place</td>
                <td>90</td>
            </tr>
            <tr>
                <td>successful participant</td>
                <td>75</td>
            </tr>
            <tr>
                <td>iBobor</td>
                <td>in top 10%</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Pangea - national round</td>
                <td>successful participant</td>
                <td>60</td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td><b>Informatics</b></td>
            </tr>
            <tr>
                <td rowspan="2">ProFIIT</td>
                <td>1st - 3rd place</td>
                <td>90</td>
            </tr>
            <tr>
                <td>successful participant</td>
                <td>75</td>
            </tr>
            <tr>
                <td>IIT.SRC Junior</td>
                <td>active presentation</td>
                <td>75</td>
            </tr>
            <tr>
                <td>International Olympiad in Informatics</td>
                <td>successful participant</td>
                <td>90</td>
            </tr>
            <tr>
                <td>Central European Olympiad in Informatics</td>
                <td>successful participant</td>
                <td>90</td>
            </tr>
            <tr>
                <td rowspan="2">Olympiad in Informatics - national round</td>
                <td>1st - 3rd place</td>
                <td>90</td>
            </tr>
            <tr>
                <td>successful participant</td>
                <td>75</td>
            </tr>
            <tr>
                <td>Networking Academy Games – international round</td>
                <td>successful participant</td>
                <td>90</td>
            </tr>
            <tr>
                <td>Networking Academy Games – national round</td>
                <td>1st - 5th place</td>
                <td>90</td>
            </tr>
            <tr>
                <td>Junior Internet</td>
                <td>winner</td>
                <td>90</td>
            </tr>
            <tr>
                <td>Junior Internet - categ. Junior APP</td>
                <td>1st place</td>
                <td>90</td>
            </tr>
            <tr>
                <td>Junior Internet - categ. Junior APP</td>
                <td>2nd - 3rd place</td>
                <td>75</td>
            </tr>
            <tr>
                <td>Junior Internet - categ. Junior WEB, DESIGN, LEARN</td>
                <td>1st place</td>
                <td>75</td>
            </tr>
            <tr>
                <td>Junior Internet - categ. Junior WEB, DESIGN, LEARN</td>
                <td>2nd - 3rd place</td>
                <td>60</td>
            </tr>
            <tr>
                <td>RoboCupJunior - international round</td>
                <td>participation</td>
                <td>90</td>
            </tr>
            <tr>
                <td>Other informatical competitions accepted by the faculty</td>
                <td>1st - 3rd place</td>
                <td>individual</td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td><b>Physics</b></td>
            </tr>
            <tr>
                <td>Physics Olympiad - international round</td>
                <td>successful participant</td>
                <td>90</td>
            </tr>
            <tr>
                <td rowspan="2">Physics Olympiad - national round</td>
                <td>1st - 3rd place</td>
                <td>90</td>
            </tr>
            <tr>
                <td>successful participant</td>
                <td>75</td>
            </tr>
            <tr>
                <td colspan="3">
                    <hr/>
                </td>
            </tr>
            <tr>
                <td><b>Other national/international competitions/olympiads</b></td>
            </tr>
            <tr>
                <td>Biology, Geography, Chemistry, languages,<br/> human rights</td>
                <td><br/>1. - 3. miesto</td>
                <td><br/>30</td>
            </tr>
            <tr>
                <td>Official IQ test (Mensa International)</td>
                <td>at least 110 points</td>
                <td>60</td>
            </tr>
            <tr>
                <td>Other competitions accepted by the faculty</td>
                <td>1st - 3rd place</td>
                <td>individual</td>
            </tr>
        </table>

        <p style="padding-top: 40px">
            If the faculty identifies a high school competition in informatics or mathematics, it may take its
            results into account. If the results of such competition are considered, the faculty must publish
            the evaluation method at the latest two months before the admission date (does nto apply to CCNA
            certificates from Cisco Networking Academy).
        </p>
        <p>
            The condition of being awarded points is sending a verified certificate as an attachment with the
            study application.
        </p>
        <p>
            An applicant who took part in multiple competitions is awarded points only for that competition
            in the given category that earns them the most bonus points.
        </p>
    </div>

</div>

<button onclick="tofirst()" class="btn fiit-color btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                              style="height: 15px;"></button>