<div class="container nav-margin">

    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#!/prijatie/en">Admissions</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admission Requirements</li>
        </ol>
    </nav>

    <div class="m-2">
        <h1>Admission requirements for Bachelor degree study</h1>
        <p>In order to be admitted into the faculty, the applicant has to meet the following requirements:</p>
    </div>
    <div class="d-flex flex-column ml-3">
        <div class="step mt-2">
            <div>
                <div class="circle">1</div>
            </div>
            <div>
                <div class="body">
                    <p>A complete secondary education or secondary vocational education.</p>
                </div>
            </div>
        </div>
        <div class="step mt-2">
            <div>
                <div class="circle">2</div>
            </div>
            <div>
                <div class="body">
                    <p>Earning at least 40 points in the admission process.</p>
                </div>
            </div>
        </div>
        <div class="step mt-2">
            <div>
                <div class="circle">3</div>
            </div>
            <div>
                <div class="body">
                    <p>Capacity constrains of the faculty as well as the applicants' study program preferences
                        are taken into account during the admissions. The system of the admission process
                        guarantees maximum possible objectivity and transparency.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2>Evaluation of the Admission Process</h2>
    <p>
        The applicant receives a number of points equal to the highest percentile attained in one of selected
        written exams, plus extra points for achievements in selected competitions. The results of the following
        exams are taken into account for applicants for the 3-year study programs,
    </p>
    <ul>
        <li>Evaluation of the matriculation examination in mathemathics.</li>
        <li>Evaluation of a test in mathematics conducted and verified by an independent expert.
        </li>
    </ul>
    <p>
        For applicants for the 4-year study programs, the results of the following exams are taken into account:
    </p>
    <ul>
        <li>Evaluation of the matriculation examination in mathemathics.</li>
        <li>Evaluation of a test in mathematics conducted and verified by an independent expert.
        </li>
        <li>Evaluation of a scholastic aptitude test conducted and verified by an independent expert.
        </li>
    </ul>

    <p>See also <a href="#!/prijatie/podmienky/sutaze/en">the evaluation of competitions</a>.</p>

    <h2>Expected number of students admitted for each study program</h2>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>3-year study</th>
            <th>4-year study</th>
        </tr>
        <tr>
            <td><b>Informatics</b></td>
            <td>300</td>
            <td>100</td>
        </tr>
        <tr>
            <td><b>Internet Technologies</b></td>
            <td>140</td>
            <td>80</td>
        </tr>
        <tr>
            <td><b>Information Security</b></td>
            <td>50</td>
            <td>30</td>
        </tr>
    </table>

</div>

<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>
