<div class="container nav-margin">
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../templates/Template.html#!/prijatie">Prihláška</a></li>
            <li class="breadcrumb-item active" aria-current="page">Podmienky prijatia</li>
        </ol>
    </nav>

    <div class="m-2">
        <h1>Podmienky prijatia na balakárske štúdium</h1>
        <p>Pre prijatie na fakultu musí uchádzač spĺňať nasledujúce podmienky:</p>
    </div>
    <div class="d-flex flex-column ml-3">
        <div class="step mt-2">
            <div>
                <div class="circle">1</div>
            </div>
            <div>
                <div class="body">
                    <p> Získanie úplného stredoškolského alebo stredoškolského odborného vzdelania.</p>
                </div>
            </div>
        </div>
        <div class="step mt-2">
            <div>
                <div class="circle">2</div>
            </div>
            <div>
                <div class="body">
                    <p>Dosiahnutie minimálne 40 bodov v prijímacom konaní.</p>
                </div>
            </div>
        </div>
        <div class="step mt-2">
            <div>
                <div class="circle">3</div>
            </div>
            <div>
                <div class="body">
                    <p>Pri prijímaní na štúdium sa zohľadňujú kapacitné možnosti fakulty,
                        ale aj uvedené preferencie uchádzačov odhľadne študijných programov.
                        Spôsob výberového konania garantuje maximálne možnú objektívnosť a transparentnosť.</p>
                </div>
            </div>
        </div>
    </div>

    <h2>Hodnotenie prijímacieho konania</h2>
    <p>
        Uchádzač dostane počet bodov rovný najvyššiemu dosiahnutému percentilu v jednej z vybraných písomných skúšok,
        plus body navyše za úspechy vo vybraných súťažiach. Pre uchádzačov o 3-ročné študijné programy sa berú do
        úvahy výsledky nasledujúcich skúšok:
    </p>
    <ul>
        <li>Hodnotenie externej časti maturitnej skúšky z matematiky.</li>
        <li>Hodnotenie písomného testu z matematiky vykonané a overené nezávislým posudzovateľom -
            pre akad. rok 2017/18, národné porovnávacie skúšky uskutočňované spoločnosťou SCIO, s. r. o.
            (www.scio.sk alebo tel.: +421 948 269 298)
        </li>
    </ul>
    <p>
        Pre uchádzačov o 4-ročné študijné programy sa berú do úvahy výsledky nasledujúcich skúšok:
    </p>
    <ul>
        <li>Hodnotenie externej časti maturitnej skúšky z matematiky.</li>
        <li>Hodnotenie písomného testu z matematiky vykonané a overené nezávislým posudzovateľom -
            pre akad. rok 2017/18, národné porovnávacie skúšky uskutočňované spoločnosťou SCIO, s. r. o.
            (www.scio.sk alebo tel.: +421 948 269 298)
        </li>
        <li>Hodnotenie písomného testu zo všeobecných študijných predpokladov vykonané a overené nezávislým
            posudzovateľom - pre akad. rok 2017/18, národné porovnávacie skúšky uskutočňované spoločnosťou SCIO,
            s. r. o. (www.scio.sk alebo tel.: +421 948 269 298)
        </li>
    </ul>

    <p>Pozrite si tiež <a href="../templates/Template.html#!/prijatie/podmienky/sutaze">hodnotenie súťaží</a>.</p>

    <h2>Očakávaný počet prijatých študentov na jednotlivé odbory</h2>
    <table class="table table-striped">
        <tr>
            <th></th>
            <th>3-ročné štúdium</th>
            <th>4-ročné štúdium</th>
        </tr>
        <tr>
            <td><b>Informatika</b></td>
            <td>300</td>
            <td>100</td>
        </tr>
        <tr>
            <td><b>Internetové technológie</b></td>
            <td>140</td>
            <td>80</td>
        </tr>
        <tr>
            <td><b>Informačná bezpečnosť</b></td>
            <td>50</td>
            <td>30</td>
        </tr>
    </table>

</div>

<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>
