<div class="container nav-margin">
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Ubytovanie a
                strava
            </li>
        </ol>
    </nav>
    <div class="m-2">
        <h1>Ubytovanie</h1>
        <p>Ubytovanie a iné potrebné vybavenie máš ako FIIT študent v okolí fakulty.
            Študenti FIIT majú k dispozícii internát Študentský domov Mladosť, ktorý
            je vzdialený iba 10 minút chôdze od fakulty. Žiadosť o pridelenie ubytovania
            je možné podať elektronicky <a href="https://www.ubytovanie.stuba.sk">na tomto odkaze</a></p>
    </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <div class="card">
                <img class="img-fluid" src="../images/mladost/nova_Mlada_Garda.jpg"/>
                <div class="card-body">
                    <h4 class="card-title">Študentský domov Mladosť</h4>

                    <hr class="hr-dark">
                    <div class="card-text p-2">
                        <div class="flex-row flex-center">
                            <a class="col-sm-2" href="../images/mladost/Mladost_01.JPG" data-toggle="lightbox"
                               data-gallery="example-gallery">
                                <img src="../images/mladost/Mladost_01.JPG" class="img-fluid">
                            </a>
                            <a class="col-sm-2" href="../images/mladost/Mladost_03.JPG" data-toggle="lightbox"
                               data-gallery="example-gallery">
                                <img src="../images/mladost/Mladost_03.JPG" class="img-fluid">
                            </a>
                            <a class="col-sm-2" href="../images/mladost/Mladost_04.JPG" data-toggle="lightbox"
                               data-gallery="example-gallery">
                                <img src="../images/mladost/Mladost_04.JPG" class="img-fluid">
                            </a>
                            <a class="col-sm-2" href="../images/mladost/Mladost_05.JPG" data-toggle="lightbox"
                               data-gallery="example-gallery">
                                <img src="../images/mladost/Mladost_05.JPG" class="img-fluid">
                            </a>
                            <a class="col-sm-2" href="../images/mladost/Mladost_06.JPG" data-toggle="lightbox"
                               data-gallery="example-gallery">
                                <img src="../images/mladost/Mladost_06.JPG" class="img-fluid">
                            </a>
                        </div>
                        <hr class="hr-dark">
                        <ul class="list-group black-text">
                            <li class="list-group-item">Adresa: Staré Grunty 53, 842 47 Bratislava 4</li>
                            <li class="list-group-item">Recepcia (C-D blok): 0918 664 051 - krátkodobé celosezónne
                                ubytovanie turistov
                            </li>
                            <li class="list-group-item"> Vrátnica (A-B blok): 0918 664 050</li>
                            <li class="list-group-item">Dopravné spojenie: autobusy 31, 39</li>
                            <li class="list-group-item">Vzdialenosť od centra: 10 minút</li>
                            <li class="list-group-item">Charakter ubytovania: bunkový systém, študentské 1-3 lôžkové
                                izby, hosťovské 1-2 lôžkové izby, v bunke so soc. zariadením
                            </li>
                            <li class="list-group-item">Počet lôžok: študentská kapacita 1625, kapacita hosťovských
                                izieb 6
                            </li>
                            <li class="list-group-item">Internát má k dispozícií rýchle pripojenie na internet. <a
                                    href="https://www.ynet.sk"> Viac na Ynet.sk </a></li>
                            <li class="list-group-item">Šport a oddych: tenisové kurty, otvorené ihrisko</li>
                        </ul>
                        <a target="blank" href="https://www.ubytovanie.stuba.sk"
                           class="btn btn-primary">Žiadosť o pridelenie ubytovania</a>
                        <a target="blank"
                           href="https://www.stuba.sk/buxus/docs/stu/pracoviska/uz_sdaj/Cennik_ubytovania_cudzich_osob-HI-MD_od_01012017.pdf"
                           class="btn btn-primary">Cenník pre hostí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h1>Strava</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card-deck">
                <div class="card mb-2">
                    <img class="card-img-top" src="./../images/jedalne/eat.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Eat&Meet</h4>
                        <p class="card-text">Štýlová jedáleň v areály internátov Mlynskej Doliny, ktorú môžu navštíviť
                            nie len študenti.
                            Ponúkame celodenné stravovanie 7 dní v týždni, od raňajok až po večeru.</p>
                        <a href="http://www.eatandmeet.sk/o-nas" class="btn btn-primary">Chcem tu jesť!</a>
                    </div>
                </div>

                <div class="card mb-2">
                    <img class="card-img-top" src="./../images/jedalne/venza.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Venza</h4>
                        <p class="card-text">Dovoľte nám pozvať Vás do jedálne VENZA, ktorej cieľom je ponúkať svojím
                            stravníkom chutne pripravené domáce jedlá „Mňamky ako od mamky“ z kvalitných surovín, ktoré
                            sú v súčasnosti na trhu.</p>
                        <a href="https://www.facebook.com/venza.mlyny/"
                           class="btn btn-primary">Chcem tu jesť!</a>
                    </div>
                </div>

                <div class="card mb-2">
                    <img class="card-img-top" src="./../images/jedalne/bistro.jpg"
                         alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Bistro Mladosť</h4>
                        <p class="card-text">Jednoducho bistro na intrákoch</p>
                        <a href="https://www.facebook.com/BistroMladost/e"
                           class="btn btn-primary">Chcem tu jesť!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>
        