<div class="container nav-margin">
    <nav aria-label="breadcrumb" role="navigation" class="m-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="../../../templates/Template.html#!/odbory">Odbory</a></li>
            <li class="breadcrumb-item active" aria-current="page">Doktorandské</li>
        </ol>
    </nav>

    <div class="m-2">
        <h1>Doktorandské štúdijné programy</h1>
        <p>FIIT má akreditované tieto študijné programy v <b class="font-weight-bold">3-ročnom dennom a 5-ročnom externom doktorandskom štúdiu</b> (v zmysle zákona č. 131/2002 Zb. o vysokých školách):</p>
    </div>

</div>
<button onclick="tofirst()" class="btn bg-fiit btn-sm float-md-right"><img src="../../../images/arrows/up_white.svg"
                                                                           style="height: 15px;"></button>